.container {
    height: 100%;
}

.sidenav {
    width: 13rem;
    color: white;
}

.sidenav i {
    margin-right: 0.5rem;
    margin-top: 1rem;
    color: #111111;
}

.menu {
    margin: 1rem 0 0 1rem;
    color: white;
    background: black;
}
