<h1 class="header">
    <div class="container2">
        <ul class="dinamico">
            <li><span>Bem-vindo!</span></li>
            <li><span>Bienvenido!</span></li>
            <li><span>Willkommen!</span></li>
            <li><span>Welcome!</span></li>
            <li><span>Accueillir!</span></li>
            <li><span>Benvenuto!</span></li>
        </ul>
    </div>

</h1>
<div class="container">
    <form class="form mat-elevation-z8">
        <h1>Informe suas credenciais:</h1>

        <mat-form-field class="full-width">
            <mat-label>E-mail</mat-label>
            <input [formControl]="email" 
                    required 
                    [(ngModel)]="creds.email" name="email" 
                    matInput placeholder="seuemail@mail.com">
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <mat-label>Senha</mat-label>
            <input [formControl]="senha" 
                    required 
                    [(ngModel)]="creds.senha" name="senha" type="password" 
                    matInput placeholder="Digite sua senha...">
        </mat-form-field>

        <button [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-raised-button>Login</button>
    </form>               
</div>

